/* Styling for the title heading */
.title_heading {
    font-size: clamp(var(--text-lg), calc(1rem + 3vw), var(--text-4xl)); /* Responsive font size */
    color: var(--dim-gray);
    letter-spacing: .1ch;
    place-self: center; /* Center title */
    position: relative;
    left: 1rem;
    z-index: 1; 
}


/* Styling for the Random Password Container */
.random_password_container {
    width: 100%;
    max-width: 30rem;
    place-self: start center;
    display: grid;
    gap: 2rem;
    z-index: 1;
}

/* Styling for the output box */
.output_box{
    position: relative;
    padding: 2rem;
    text-align: center;
    background-color: var(--light-gray);
    border: var(--border-6) solid var(--dark-charcoal);
    box-shadow: 0px 10px 12px 2px var(--dim-gray);
}

/* Styling for the copy button */
.copy_btn{
    position: absolute;
    right: 0.5rem;
    bottom: 0.5rem;
    width: 3rem;
    background-color: transparent;
    border: 1px solid var(--dim-gray);
    border-radius: .5rem;
}

.copy_btn:hover{
    scale: 0.95;
    background-color: var(--dim-gray) ;
}

/* Styling for the input box */
.input_box{
    padding: 1rem;
    background-color: var(--light-gray);
    border: var(--border-6) solid var(--dark-charcoal);
    box-shadow: 0px 10px 12px 2px var(--dim-gray);
}

/* Styling for the character type options */
.char_type{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 0.5em;
    margin-top: 2rem;
}


/* Styling for the password field */
.password_field{
    background-color: transparent;
    border: 0;
    text-align: center;
    outline: transparent;
}

/* Styling for the password field */
.generate_btn{
    padding: 0rem 2rem;
    justify-self: center;
}

@media (min-width:768px){
    .title_heading {
        left: 1.25rem;
    }
}

@media (min-width:1280px){
    .title_heading {
        left: 2rem;
    }
}


